@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Roots N Branches";
  src: url("/assets/roots-n-branches.regular.ttf");
}

@font-face {
  font-family: "YAA Type FREE";
  src: url("/assets/artill_yaa_type_light_demo_.ttf") format(truetype);
}

@font-face {
  font-family: "Bariol";
  src: url("/assets/Bariol_Serif_Regular.otf");
}

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  font-family: "Bariol";
}

.banner {
  width: auto;
  height: 250px;
}
