@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roots N Branches";
  src: url("/assets/roots-n-branches.regular.ttf");
}


:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  font-family: "Roots N Branches", sans-serif;
}

.banner {
  width: auto;
  height: 250px;
}
